/*    NAVBAR - 1 */

/*         BOX 1 */

*{
    margin:0;
    font-family: Arial;
    border:border-box;
}


.navbar{
    height: 60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo{
    height: 50px;
    width:100px;
    
}
.logo{
    background-image: url("Amazon-Emblem.jpg");
    background-size: cover;
    height: 50px;
    width:100%;
}

.border{
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}



/*       BOX 2 */
.location{
    background-color: #0f1111;
    width:80px;
    height: 50px;
    margin-top: 8px;
}

.add_fst{
    font-weight:lighter;
    font-size: 0.85rem;
    color: #CCCCCC;
    margin-left: 3px;
}

.add_sec{
    font-weight: bolder;
    font-size: 1rem;
    color: #FFFFFF;
   

}

.add_icon{
    display: flex;
    align-items: center;
}

/*     BOX 3 */

.search{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width:621px;
    background-color: white;
    color: #0F1111;
    border-radius: 4px;
}

.search-select{
    background-color: #F3F3F3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50px;
    border: none;
    text-align: center;
}

.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search_icon{
    background-color: orange;
    width: 45px;
    /* height:40px; */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

/*        BOX 4  */

.nav_language{
    display: flex;
    height:19px;
    width:60.38px;
}

.language_choose{
    font-weight: bolder ;
    width: 40px;
    background-color: #0F1111;
    color: white;
    margin-left: 3px;;
    
}

/*    BOX 5 */
.nav_sign-in{
    font-size: 0.9rem;
}

.Accounts_list{
    font-weight: bolder;
}

/* BOX 6 */

.d2{
    font-weight: bolder;
}

/* BOX 7 */

.nav_cart{
    display: flex;
}

.cart{
    padding-top: 20px;
    font-weight: bold;
}

/*    PANEL */

.panel{
    display:flex;
    color:white;
    background-color: #222f3d;
    height: 50px;
    justify-content: space-between;
}

.all_div1{
    display: flex;
    align-self: center;
    margin-left: 10px;
}
.div2{
    width:65%;
    margin-right: 177px;
    display: flex;
    align-items: center;
}

.div2 div{
    margin-left: 10px;
}
.div3{
    font-weight: bolder;
    align-self: center;
    justify-content: center;
    
}

/*      MAIN SECTION */

.main{
    height: 400px;
    background-image: url("main_section.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main_content{
    background-color: #F5F6F6;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 130px;
}

.main a{
    color: #007185;
}



/*     SHOP-CONTENT */

.shop-content{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-wrap: wrap;
}

.box{
    height:400px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    
}

.shop-content p{
    color: #007185;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-img1{
    height:20%;
    width:80%;
    background-size: cover;
   
}

.signin_recommend{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.recommendations{
    font-size: 13px;
    text-align: center;
}

.signin{
    background-color: orange;
    font-weight: bolder;
    font-size: 12px;
    width:230px;
    height:17px;
    border-radius: 5px;
    

}

.signin p{
    text-align: center;
    
}
.new{
    font-size: 11px;
    color: #007185;
}

footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475A;
    color:white;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.foot-panel2{
    background-color: #222f3d;
    color:white;
    height:500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foot-panel2 ul{
    list-style-type: none;
}


#c1{
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 16px;
}

#c2{
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 16px;
}
#c3{
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 16px;
}
#c4{
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 16px;
}

ul li{
    margin-top: 10px;
    font-size: 14px;
}

.foot-panel3{
    background-color: #222f3d;
    color:white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 70px;
}
.nav_logo{
    height: 50px;
    width:100px;
    
}
.logo{
    background-image: url("Amazon-Emblem.jpg");
    background-size: cover;
    height: 50px;
    width:100%;
}


.nav_language{
    display: flex;
    height:19px;
    width:60.38px;
}

.language_choose{
    font-weight: bolder ;
    width: 40px;
    background-color: #0F1111;
    color: white;
    margin-left: 3px;
    
}

.foot-panel4{
    background-color: #0F1111;
    color:white;
    height:58px;
    font-size:0.7rem;
    text-align: center;

}

.pages{
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
}